img {
  width: 25vw;
  /* height: 100%; */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: end;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons iconify-icon {
  font-size: 4rem;
  color: var(--colour-button);
  filter:drop-shadow(0px 0px 0px)
}