main {
  display: flex;
  padding: 5%;
}

h1 {
  margin: 0 0 5% 0;
}

.image__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

/* .navbar__link--imagery {
  color: #5ab4ab;
  background-color: #f5f9e9;
  padding: 3%;
} */

img {
  width: 15vw;
  height: 20vh;
  object-fit: cover;
  margin: 1%;
  /* height: 100%; */
}

.left__group,
.right__group {
  width: 50vw;
}

.left__group {
  margin-right: 5%;
}

h1 {
  color: #5ab4ab;
  font-weight: 700;
}

.turquoise-bar {
  height: 3vh;
  background-color: var(--color-turquoise);
}

p {
  margin-bottom: 8%;
}

.icon {
  width: 50px;
  color: #5ab4ab;
  margin-right: 5%;
}

.logo__container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.logo__container--top{
  display: flex;
}



.variants-list__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.variants__container{
  display: flex;
  flex-direction: column ;
  width: 8rem;
  align-content: center;
  /* text-align: center; */
}

.variants__container > p{
  text-align: center;
}

svg > image{
  width: 100%;
  height: 100%;
}


@media (max-width: 900px) {
  main {
    flex-direction: column;
    padding: 8%;
  }

  .left__group,
  .right__group {
    width: 100%;
  }

  .left__group {
    margin-right: 0;
  }

  img {
    width: 20vw;
    height: 15vh;
  }
}
