:root {
  font-family: "Nunito", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: #f5f9e9;
  --color-darkblue: #273d4e;
  --color-turquoise: #5ab4ab;
  --color-lightblue: #84a7f1;
  --color-red: #e05f4e;
  --color-yellow: #f7c932;

  --color-darkblue-hover: #1a2833;
  --color-turquoise-hover: #468d86;
  --color-lightblue-hover: #6882bb;
  --color-red-hover: #ad4a3d;
  --color-yellow-hover: #bd9a27;

  --color-link-hover: #fbffef;
  --color-container: #eee1d3;
  --color-font: #1a2833;

  /* --colour-button-hover: #132f92a1;
  --colour-button-active: #082281a1;
  --colour-shadow: #1111114b; */
}

body {
  background-color: var(--color-bg);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
}

.nav__item__container {
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 3% 1%;
}

.navbar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--color-bg);
  font-size: 1.25rem;
}

iconify-icon {
  font-size: 1.5rem;
}

.navbar__link:hover {
  color: var(--color-link-hover);
  /* font-weight: 700; */
}

.home {
  background-color: var(--color-darkblue);
}

.colours {
  background-color: var(--color-red);
}

.typography {
  background-color: var(--color-lightblue);
}

.imagery {
  background-color: var(--color-turquoise);
}

.ref {
  background-color: var(--color-yellow);
}

main {
  background-color: var(--color-bg);
  min-height: 66vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Fuzzy Bubbles", cursive;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .nav__item__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}
