:root {
  font-family: "Nunito", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colour-bg: #f5f9e9;
  --colour-darkblue: #273d4e;
  --colour-turquoise: #5ab4ab;
  --color-lightblue: #84a7f1;
  --colour-red: #e05f4e;
  --colour-yellow: #f7c932;

  --colour-container: #f1ecca;
  --colour-font: #1b1818;

  /* --colour-button-hover: #132f92a1;
  --colour-button-active: #082281a1;
  --colour-shadow: #1111114b; */
}

body {
  background-color: var(--colour-bg);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
}

.nav__item__container {
  width: 20vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 3% 1%;
}

.navbar__link {
  text-decoration: none;
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--colour-bg);
}

.navbar__link:hover {
  font-weight: 700;
}

.home {
  background-color: var(--colour-darkblue);
}

.colours {
  background-color: var(--colour-red);
}

.typography {
  background-color: var(--color-lightblue);
}

.imagery {
  background-color: var(--colour-turquoise);
}

.ref {
  background-color: var(--colour-yellow);
}

main {
  background-color: var(--colour-bg);
  min-height: 66vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Fuzzy Bubbles", cursive;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .nav__item__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}
