:root {
    --colour-container: #f1ecca;
    --colour-font: #1b1818;
  }

.grid1x1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.container {
    color:var(--colour-font);
    background-color: var(--colour-container);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 3px 23px 2px var(--colour-shadow);
}

.header-font {
    font-family: 'Fuzzy Bubbles', cursive;
}

.text-font {
    font-family: 'Nunito', sans-serif;
}

.text-venti {
    font-size: 1.5rem;
}

.text-grande {
    font-size: 1.25rem;
}

.text-tall {
    font-size: 1rem;
}

.text-small {
    font-size: 0.875rem;
}